<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <div mat-card-image></div>
    <mat-card-content>

  
  <mat-form-field appearance="outline">
      <mat-label>Nombre Completo</mat-label>
      <input matInput type="text" formControlName="fullName" required minlength="3" maxlength="100">
      <mat-icon matSuffix>perm_identity</mat-icon>
      <mat-hint>Type your full name</mat-hint>
      <mat-error *ngIf="form.get('fullName').errors">
        {{ form.get('fullName').errors | json }}
      </mat-error>
    </mat-form-field>
  <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required minlength="3">
      <mat-icon matSuffix>email</mat-icon>
      <mat-hint>Type your email</mat-hint>
      <mat-error *ngIf="form.get('email').errors">
          {{ form.get('email').errors | json }}
      </mat-error>
    </mat-form-field>
  <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required minlength="5"> 
      <mat-icon matSuffix>lock_open</mat-icon>
      <mat-hint>Type your password</mat-hint>
      <mat-error *ngIf="form.get('password').errors">
          {{ form.get('password').errors | json }}
      </mat-error>
    </mat-form-field>
    <mat-card-actions>    
          <button [disabled]="isloading" mat-button color="primary" type="submit">
            <mat-icon>lock_open</mat-icon> Register
          </button>
        </mat-card-actions>
  </mat-card-content>
  </mat-card>
</form>
<h2 *ngIf="isloading">
  Estamos enviando la data para tu registro
</h2>

<p>{{ form.value | json }}</p>
<p>{{ form.valid | json }}</p>
